<style>
	#single-plugin-mode-help-container {
		width:450px;
	}	
	#logoWrap{
		display:flex; flex-wrap:wrap; align-items:center; margin-top:5px; margin-bottom:30px;
	}
	#logoWrap div{
		flex:1; text-align:center; margin-top:10px;
	}
</style>
<div style="font-size:12px;">
	<p>Healthy mangroves are a precious, almost priceless, resource, and yet the world has witnessed staggering levels of mangrove loss and degradation, particularly over the past 50 years. Losing mangroves means losing livelihoods, food security, valuable timber production, coastal defense and one of the most efficient carbon stores on the planet.</p>
	<p>There are now well established techniques for mangrove restoration, but it is not something that can be undertaken everywhere. This tool provides additional guidance as to where restoration is likely to be successful.</p>
	<p>In this work, mangrove experts from the University of Cambridge, The Nature Conservancy and IUCN merged data from Global Mangrove Watch to develop a map of the maximum extent of mangroves over time (1996 – 2016), identified areas of losses, gains, and degradation, and developed a model to predict the factors most likely to facilitate restoration.</p>
	<p>This mapping tool offers decision-makers the ability to know where restoration should be attempted by identifying locations where mangroves once thrived, and where conditions remain suitable for restoration. The tool also calculates what ecosystem services might be gained from their restoration.</p>
	<p>This tool provides information at broad scales. It helps to guide decision-makers towards options for restoration. Once decided, practical restoration planning always requires local knowledge of ecological, social and economic circumstances in order to ensure successful, long-term outcomes.</p>
	<p><a href="plugins/mangrove-restoration/images/MangroveClassificationAndStatistics.pdf" target="_blank">Learn more about the data sources and model</a></p>
	<p><a href="plugins/mangrove-restoration/images/EcosystemServices.pdf" target="_blank">Learn more about the ecosystem services data</a></p>
	<p><a href="plugins/mangrove-restoration/images/ReferenceData.pdf" target="_blank">Learn more about the reference data</a></p>
	<p><a href="https://oceanwealth.org/mangrove-restoration" target="_blank">Learn more about the project here</a></p>
</div>	
	<!-- <div style="text-align:center; margin-top:20px;">
		<button class="button button-primary openApp">Get Started</button>
	</div> -->
<div id="logoWrap">
	<div><img src="plugins/mangrove-restoration/images/TNC.png"></div>
	<div><img src="plugins/mangrove-restoration/images/UniversityofCambridge.png"></div>
	<div><img src="plugins/mangrove-restoration/images/IUCN.png"></div>
	<div><img src="plugins/mangrove-restoration/images/BMU.png"></div>
</div>	

<!-- <script>
	$(".openApp").click(function(c){
		$(c.currentTarget).parent().parent().parent().find(".button-link").trigger("click")
	})
</script> -->
